http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/rhe8-mgbb.json?%24limit=2&%24order=last_updated_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4zMzkxMl84MTFfNTUzNzljM1VYUXh2UTNlcjdMZVhNTWJTTzM3T0JUcw---gzin0xmVD0NiDDy_zVyWmx8A87Adwi--gzip--gzip"'
      x-soda2-fields: '["license_number","name","type","current_status","dmv_license_plate_number","vehicle_vin_number","vehicle_type","model_year","medallion_type","agent_number","agent_name","agent_telephone_number","agent_website_address","agent_address","last_updated_date","last_updated_time"]'
      x-soda2-types: '["text","text","floating_timestamp","text","text","text","text","text","text","text","text","text","text","text","floating_timestamp","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 19 Feb 2026 20:15:45 GMT
      x-soda2-secondary-last-modified: Thu, 19 Feb 2026 20:15:45 GMT
      last-modified: Thu, 19 Feb 2026 20:15:45 GMT
      x-socrata-requestid: 8a09822ccef7fcc44b51c85d31cd2027
    body:
      string: |
        [{"license_number":"7B76","name":"SHOPNER NIR INC.","type":"2026-05-31T00:00:00.000","current_status":"CUR","dmv_license_plate_number":"Y206449C","vehicle_vin_number":"4T3RWRFVXPU095511","model_year":"2023","medallion_type":"OWNER MUST DRIVE","agent_telephone_number":"(347) 282-4700","agent_address":"84-55  159 STREET JAMAICA NY 11432","last_updated_date":"2026-02-19T00:00:00.000","last_updated_time":"14:01"}
        ,{"license_number":"7N27","name":"CALAFATE LLC","type":"2027-05-31T00:00:00.000","current_status":"CUR","dmv_license_plate_number":"Y207996C","vehicle_vin_number":"JTMRJREV3JD176922","model_year":"2018","medallion_type":"NAMED DRIVER","agent_number":"340","agent_name":"ALL TAXI NY LLC","agent_telephone_number":"(718) 361-0033","agent_address":"41-25   36 STREET LIC NY 11101","last_updated_date":"2026-02-19T00:00:00.000","last_updated_time":"14:01"}]
  recorded_at: 2026-02-19 20:49:58
recorded_with: VCR-vcr/2.1.0
