http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/jb3k-j3gp.json?%24limit=2&%24order=last_updated_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNTY3OV84MzhfODEyODk0TGphWmF3anBkRmhUWmhDOWc4VjNpdFVnSQ---gziutiu6mKglBHxWfzlPnrFKRAmVhI--gzip--gzip"'
      x-soda2-fields: '["license_number","name","type","expiration_date","last_updated_date","last_updated_time"]'
      x-soda2-types: '["text","text","text","floating_timestamp","floating_timestamp","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 27 Jan 2026 19:46:12 GMT
      x-soda2-secondary-last-modified: Tue, 27 Jan 2026 19:46:12 GMT
      last-modified: Tue, 27 Jan 2026 19:46:12 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: eeb43a27199f40f029f323fb6890bc35
    body:
      string: |
        [{"license_number":"5434338","name":"ZHAGUI,TRANSITO,C","type":"MEDALLION TAXI DRIVER","expiration_date":"2026-05-08T00:00:00.000","last_updated_date":"2026-01-27T00:00:00.000","last_updated_time":"13:20"}
        ,{"license_number":"6110901","name":"HOSSAIN,MOHAMMED,EMAM","type":"MEDALLION TAXI DRIVER","expiration_date":"2028-08-15T00:00:00.000","last_updated_date":"2026-01-27T00:00:00.000","last_updated_time":"13:20"}]
  recorded_at: 2026-01-27 20:20:08
recorded_with: VCR-vcr/2.1.0
