http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/5ucz-vwe8.json?%24limit=2&%24order=occur_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Z29sZi4xNTUyM18zXzk3UFRxemlhNkhFekg3QzNxNXBOVkNDYzVOc0dv---gzipdBO4FuUHHeFECW4gdV_7gVyEVRU--gzip--gzip"'
      x-soda2-fields: '["incident_key","occur_date","occur_time","boro","loc_of_occur_desc","precinct","jurisdiction_code","loc_classfctn_desc","location_desc","statistical_murder_flag","perp_age_group","perp_sex","perp_race","vic_age_group","vic_sex","vic_race","x_coord_cd","y_coord_cd","latitude","longitude","geocoded_column"]'
      x-soda2-types: '["text","floating_timestamp","text","text","text","number","number","text","text","text","text","text","text","text","text","text","number","number","number","number","point"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Mon, 27 Oct 2025 16:55:15 GMT
      x-soda2-secondary-last-modified: Mon, 27 Oct 2025 16:55:15 GMT
      last-modified: Mon, 27 Oct 2025 16:55:15 GMT
      x-socrata-requestid: fe10f68101770010340b4553e93fbb7b
    body:
      string: |
        [{"incident_key":"313716449","occur_date":"2025-09-30T00:00:00.000","occur_time":"17:56:00","boro":"BRONX","loc_of_occur_desc":"OUTSIDE","precinct":"48","jurisdiction_code":"0","loc_classfctn_desc":"STREET","location_desc":"(null)","statistical_murder_flag":"N","perp_age_group":"(null)","perp_sex":"(null)","perp_race":"(null)","vic_age_group":"25-44","vic_sex":"F","vic_race":"BLACK","x_coord_cd":"1013404","y_coord_cd":"251800","latitude":"40.85777","longitude":"-73.894607","geocoded_column":{"type":"Point","coordinates":[-73.894607,40.85777]}}
        ,{"incident_key":"313716449","occur_date":"2025-09-30T00:00:00.000","occur_time":"17:56:00","boro":"BRONX","loc_of_occur_desc":"OUTSIDE","precinct":"48","jurisdiction_code":"0","loc_classfctn_desc":"STREET","location_desc":"(null)","statistical_murder_flag":"N","perp_age_group":"(null)","perp_sex":"(null)","perp_race":"(null)","vic_age_group":"25-44","vic_sex":"M","vic_race":"BLACK","x_coord_cd":"1013404","y_coord_cd":"251800","latitude":"40.85777","longitude":"-73.894607","geocoded_column":{"type":"Point","coordinates":[-73.894607,40.85777]}}]
  recorded_at: 2026-02-09 15:26:48
recorded_with: VCR-vcr/2.1.0
