http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/jb3k-j3gp.json?%24limit=2&%24order=last_updated_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNTY3OV84MzhfODE1MDk0TGphWmF3anBkRmhUWmhDOWc4VjNpdFVnSQ---gziutiu6mKglBHxWfzlPnrFKRAmVhI--gzip--gzip"'
      x-soda2-fields: '["license_number","name","type","expiration_date","last_updated_date","last_updated_time"]'
      x-soda2-types: '["text","text","text","floating_timestamp","floating_timestamp","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 19 Feb 2026 20:16:43 GMT
      x-soda2-secondary-last-modified: Thu, 19 Feb 2026 20:16:43 GMT
      last-modified: Thu, 19 Feb 2026 20:16:43 GMT
      x-socrata-requestid: d24d179a15cef9785e91623e22065f5e
    body:
      string: |
        [{"license_number":"5946483","name":"BANA,SKERDJAN","type":"MEDALLION TAXI DRIVER","expiration_date":"2028-10-10T00:00:00.000","last_updated_date":"2026-02-19T00:00:00.000","last_updated_time":"14:01"}
        ,{"license_number":"5726530","name":"JACOBS,RICHARD,ALBERT","type":"MEDALLION TAXI DRIVER","expiration_date":"2028-10-26T00:00:00.000","last_updated_date":"2026-02-19T00:00:00.000","last_updated_time":"14:01"}]
  recorded_at: 2026-02-19 20:49:58
recorded_with: VCR-vcr/2.1.0
