http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/tg4x-b46p.json?%24limit=2&%24order=enteredon+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4zNjgxN18zXzI5MzhXYUZKVmkzVWZjWUQ3M3IxUXhtLVpMQS1rT3c---gziqBzXLumJgnrscnB6seA7B2LLR8TA--gzip--gzip"'
      x-soda2-fields: '["eventid","eventtype","startdatetime","enddatetime","enteredon","eventagency","parkingheld","borough","communityboard_s","policeprecinct_s","category","subcategoryname","country","zipcode_s"]'
      x-soda2-types: '["number","text","floating_timestamp","floating_timestamp","floating_timestamp","text","text","text","text","text","text","text","text","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Mon, 26 Jan 2026 20:30:18 GMT
      x-soda2-secondary-last-modified: Mon, 26 Jan 2026 20:30:18 GMT
      last-modified: Mon, 26 Jan 2026 20:30:18 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 1e65f26bcd4febf0da230c54a0e97ec4
    body:
      string: |
        [{"eventid":"896782","eventtype":"Shooting Permit","startdatetime":"2025-10-27T08:00:00.000","enddatetime":"2025-10-27T23:59:00.000","eventagency":"Mayor's Office of Media & Entertainment","parkingheld":"EAST   69 STREET between LEXINGTON AVENUE and PARK AVENUE,  PARK AVENUE between EAST   69 STREET and EAST   70 STREET","borough":"Manhattan","communityboard_s":"8,","policeprecinct_s":"19,","category":"Film","subcategoryname":"Feature","country":"United States of America","zipcode_s":"10021,"}
        ,{"eventid":"895096","eventtype":"Theater Load in and Load Outs","startdatetime":"2025-10-27T12:01:00.000","enddatetime":"2025-10-27T23:59:00.000","eventagency":"Mayor's Office of Media & Entertainment","parkingheld":"7 AVENUE between WEST   57 STREET and WEST   56 STREET","borough":"Manhattan","communityboard_s":"5,","policeprecinct_s":"18,","category":"Theater","subcategoryname":"Theater","country":"United States of America","zipcode_s":"10019, 10106,"}]
  recorded_at: 2026-01-27 20:20:05
recorded_with: VCR-vcr/2.1.0
