http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/5tqd-u88y.json?%24limit=50000
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"aG90ZWwuMzM1OTlfNDQ2XzI2NTgwMGxfdDVTU1BrQjlGUE9KQmg0NzJUcTZoa244MA---gziovZmIb1AV0YiWszemewNehqA0DZ--gzip--gzip"'
      x-soda2-fields: '["datasetinformation_agency","uid","name","description","type","category","legislativecompliance_datasetfromtheopendataplan","url","update_datemadepublic","update_updatefrequency","last_data_updated_date","legislativecompliance_candatasetfeasiblybeautomated","update_automation","legislativecompliance_hasdatadictionary","legislativecompliance_containsaddress","legislativecompliance_geocoded","legislativecompliance_existsexternallyll1102015","legislativecompliance_externalfrequencyll1102015","legislativecompliance_removedrecords","visits","downloads","row_count","column_count","parent_uid","derived_view"]'
      x-soda2-types: '["text","text","text","text","text","text","text","text","text","text","floating_timestamp","text","text","text","text","text","text","text","text","number","number","number","number","text","boolean"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 24 Mar 2026 19:07:11 GMT
      x-soda2-secondary-last-modified: Tue, 24 Mar 2026 19:07:11 GMT
      last-modified: Tue, 24 Mar 2026 19:07:11 GMT
      x-socrata-requestid: abb5c4f99d6aaa873dfe1447802a75db
    body:
      string: |
        [{"datasetinformation_agency":"Department of Education (DOE)","uid":"en96-iuwi","name":"2012-2013 Early Childhood Progress Report","description":"The Quality Review is a process that evaluates how well schools are organized to support student learning and teacher practice. It was developed to assist New York City Department of Education (NYCDOE) schools in raising student achievement by looking behind a school’s performance statistics to ensure that the school is engaged in effective methods of accelerating student learning.","type":"file","category":"Education","legislativecompliance_datasetfromtheopendataplan":"Yes","url":"https://data.cityofnewyork.us/d/en96-iuwi","update_datemadepublic":"05/03/2019","update_updatefrequency":"Historical data","last_data_updated_date":"2019-05-03T19:52:55.000","legislativecompliance_candatasetfeasiblybeautomated":"No","update_automation":"No","legislativecompliance_hasdatadictionary":"Yes","legislativecompliance_containsaddress":"N/A","legislativecompliance_geocoded":"N/A","legislativecompliance_existsexternallyll1102015":"N/A","legislativecompliance_externalfrequencyll1102015":"N/A","legislativecompliance_removedrecords":"Yes","visits":"423","downloads":"708","derived_view":false}
        ,{"datasetinformation_agency":"Department of Education (DOE)","uid":"gsjx-zx9n","name":"2017- 2018 Class Size Report District K-8 Class Size Distribution","description":"2017- 2018 Class Size Report District K-8 Class Size Distribution","type":"dataset","category":"Education","legislativecompliance_datasetfromtheopendataplan":"No","url":"https://data.cityofnewyork.us/d/gsjx-zx9n","update_datemadepublic":"04/20/2018","update_updatefrequency":"Historical data","last_data_updated_date":"2018-04-20T13:55:05.000","legislativecompliance_candatasetfeasiblybeautomated":"No","update_automation":"No","legislativecompliance_hasdatadictionary":"Yes","legislativecompliance_containsaddress":"No","legislativecompliance_geocoded":"N/A","legislativecompliance_existsexternallyll1102015":"No","legislativecompliance_externalfrequencyll1102015":"N/A","legislativecompliance_removedrecords":"No","visits":"456","downloads":"1259","row_count":"5110","column_count":"7","derived_view":false}
        ,{"datasetinformation_agency":"Department of Education (DOE)","uid":"xr5s-zsn6","name":"2016 - 2017 Guidance Counselor Report","description":"New York City Department of Education 2016 - 2017 Guidance Counselor Report .","type":"dataset","category":"Education","legislativecompliance_datasetfromtheopendataplan":"Yes","url":"https://data.cityofnewyork.us/d/xr5s-zsn6","update_datemadepublic":"04/22/2019","update_updatefrequency":"Historical data","last_data_updated[...]
