http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/dg92-zbpx.json?%24limit=2&%24order=start_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4zMzgxNV8xNV80NzYxSk9rVDFhR29mM2VHdENGZ081dXFpRzZGVEJF---gzipRXg31_oTAtnbSBKM5t6itIPpZ4o--gzip--gzip"'
      x-soda2-fields: '["request_id","start_date","end_date","agency_name","type_of_notice_description","category_description","short_title","selection_method_description","section_name","special_case_reason_description","pin","due_date","address_to_request","contact_name","contact_phone","email","contract_amount","contact_fax","additional_description_1","additional_description_2","additional_description_3","other_info_1","other_info_2","other_info_3","vendor_name","vendor_address","printout_1","printout_2","printout_3","document_links","event_date","building_name","street_address_1","street_address_2","city","state","zip_code"]'
      x-soda2-types: '["number","floating_timestamp","floating_timestamp","text","text","text","text","text","text","text","text","floating_timestamp","text","text","text","text","number","text","text","text","text","text","text","text","text","text","text","text","text","url","floating_timestamp","text","text","text","text","text","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 27 Jan 2026 13:28:13 GMT
      x-soda2-secondary-last-modified: Tue, 27 Jan 2026 13:28:13 GMT
      last-modified: Tue, 27 Jan 2026 13:28:13 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 1297f00dde20b5ba2f79011685950d36
    body:
      string: |
        [{"request_id":"20260120031","start_date":"2026-01-27T00:00:00.000","end_date":"2026-01-27T00:00:00.000","agency_name":"Citywide Administrative Services","type_of_notice_description":"Solicitation","category_description":"Goods","short_title":"85726B0028-2600001 TRUCK, 16 CUBIC YARD ELECTRIC COMPACTING","selection_method_description":"Competitive Sealed Bids","section_name":"Procurement","pin":"85726B0028","due_date":"2026-03-17T10:30:00.000","additional_description_1":"<p>Please see the solicitation documents on PASSPort for additional details. Please submit your proposals by both acknowledging the receipt of the RFx in the Acknowledgement tab and completing your response in the Manage Responses tab. Vendor resources and materials can be found at the link below under the Finding and Responding to RFx heading. If you need additional assistance with PASSPort, please contact the MOCS Service Desk at https://mocssupport.atlassian.net/servicedesk/customer/portal/8 For Virtual Bid Opening, please register using the following link: Microsoft Teams Meeting ID: 226 589 693 578 16 Passcode: Gv6my9X7 Dial in by phone +1 646-893-7101,,953613098# United States, New York City.</p>","other_info_1":"Bid opening Location - 1 Centre Street, 18th Floor North, New York, NY 10007"}
        ,{"request_id":"20260120022","start_date":"2026-01-27T00:00:00.000","end_date":"2026-01-27T00:00:00.000","agency_name":"Mayor's Office of Contract Services","type_of_notice_description":"Notice","short_title":"LL63/NYPD/EXT","section_name":"Special Materials","additional_description_1":"<p><u>Notice of Intent to Renew or Amend Contract(s) Not Included in FY2026 Annual Contracting Plan and Schedule</u> </p><p><strong>NOTICE IS HEREBY GIVEN</strong> that the Mayor will be entering into the following renewal(s)/amendment(s)) of (a) contract(s) not included in the FY 2026 Annual Contracting Plan and Schedule that is published pursuant to New York City Charter § 312(a): </p><p>Agency:  New York City Police Department</p><p>Vendor:   Slade Industries, Inc.</p><p>Description of Services to be Provided: Maintenance Elevators at Various NYPD Locations</p><p>Anticipated Procurement Method:  Renewal</p><p>Anticipated New Start Date:  12/4/2025</p><p>Anticipated New End Date:  12/3/2027</p><p>Anticipated Modification to Scope:  None</p><p>Reason for Renewal/ Amendment:  Ongoing Project</p><p>Job Titles:  None</p><p>Headcount: 0 </p>"}]
  recorded_at: 2026-01-27 20:19:55
recorded_with: VCR-vcr/2.1.0
