http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/98wc-x49t.json?%24limit=2&%24order=occur_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"anVsaWV0dC4xNjMyMjlfMV8xN1loM0hiOFhkLVJyMlpQZFVQNTZZVHhHYTNhTQ---gziqDbNvEkq-w98FPkm-v-OnM7iRiI--gzip--gzip"'
      x-soda2-fields: '["incident_key","occur_date","occur_time","boro","loc_of_occur_desc","precinct","jurisdiction_code","loc_classfctn_desc","location_desc","x_coord_cd","y_coord_cd","latitude","longitude"]'
      x-soda2-types: '["number","floating_timestamp","text","text","text","number","number","text","text","number","number","number","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 10 Feb 2026 15:51:05 GMT
      x-soda2-secondary-last-modified: Tue, 10 Feb 2026 15:51:05 GMT
      last-modified: Tue, 10 Feb 2026 15:51:05 GMT
      x-socrata-requestid: db4ebb1c5c8ec358ea844d1b8c0c26f4
    body:
      string: |
        [{"incident_key":"318207675","occur_date":"2025-12-31T00:00:00.000","occur_time":"23:44:00","boro":"MANHATTAN","loc_of_occur_desc":"OUTSIDE","precinct":"23","jurisdiction_code":"2","loc_classfctn_desc":"HOUSING","location_desc":"MULTI DWELL - PUBLIC HOUS","x_coord_cd":"999686","y_coord_cd":"226679","latitude":"40.788854","longitude":"-73.944257"}
        ,{"incident_key":"318203589","occur_date":"2025-12-31T00:00:00.000","occur_time":"18:40:00","boro":"MANHATTAN","loc_of_occur_desc":"INSIDE","precinct":"32","jurisdiction_code":"2","loc_classfctn_desc":"HOUSING","location_desc":"MULTI DWELL - PUBLIC HOUS","x_coord_cd":"1000457","y_coord_cd":"238373","latitude":"40.82095","longitude":"-73.941445"}]
  recorded_at: 2026-02-14 15:17:43
recorded_with: VCR-vcr/2.1.0
