http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/uvpi-gqnh.json?%24limit=2&%24order=created_at+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC40OTczMl8zXzIyOUo2UExfaExHNEFleG5vOHhhYzB1bjk1TWxrUQ---gzivVsfX_Hm-vsMxh4JC9SWcvQ0KQn--gzip--gzip"'
      x-soda2-fields: '["tree_id","block_id","created_at","tree_dbh","stump_diam","curb_loc","status","health","spc_latin","spc_common","steward","guards","sidewalk","user_type","problems","root_stone","root_grate","root_other","trunk_wire","trnk_light","trnk_other","brch_light","brch_shoe","brch_other","address","zipcode","zip_city","cb_num","borocode","boroname","cncldist","st_assem","st_senate","nta","nta_name","boro_ct","state","latitude","longitude","x_sp","y_sp","council_district","census_tract","bin","bbl"]'
      x-soda2-types: '["number","number","floating_timestamp","number","number","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","number","text","number","number","text","number","number","number","text","text","number","text","number","number","number","number","number","number","number","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 13 Sep 2018 14:58:58 GMT
      x-soda2-secondary-last-modified: Thu, 13 Sep 2018 14:58:58 GMT
      last-modified: Thu, 13 Sep 2018 14:58:58 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 5b476aba3dc76843b33582007deb0085
    body:
      string: |
        [{"tree_id":"722693","block_id":"999999","created_at":"2016-10-05T00:00:00.000","tree_dbh":"3","stump_diam":"0","curb_loc":"OnCurb","status":"Alive","health":"Good","spc_latin":"Tilia cordata","spc_common":"littleleaf linden","steward":"None","guards":"None","sidewalk":"NoDamage","user_type":"NYC Parks Staff","problems":"None","root_stone":"No","root_grate":"No","root_other":"No","trunk_wire":"No","trnk_light":"No","trnk_other":"No","brch_light":"No","brch_shoe":"No","brch_other":"No","address":"1202 EAST 105 STREET","zipcode":"11236","zip_city":"Brooklyn","cb_num":"318","borocode":"3","boroname":"Brooklyn","cncldist":"46","st_assem":"58","st_senate":"19","nta":"BK50","nta_name":"Canarsie","boro_ct":"3101400","state":"New York","latitude":"40.64234833","longitude":"-73.88902119","x_sp":"1015048.9","y_sp":"173320.7066","council_district":"46","census_tract":"1014","bin":"3233180","bbl":"3082690046"}
        ,{"tree_id":"722688","block_id":"217025","created_at":"2016-10-05T00:00:00.000","tree_dbh":"6","stump_diam":"0","curb_loc":"OnCurb","status":"Alive","health":"Poor","spc_latin":"Tilia americana","spc_common":"American linden","steward":"None","guards":"None","sidewalk":"NoDamage","user_type":"NYC Parks Staff","problems":"RootOther","root_stone":"No","root_grate":"No","root_other":"Yes","trunk_wire":"No","trnk_light":"No","trnk_other":"No","brch_light":"No","brch_shoe":"No","brch_other":"No","address":"108 MONTROSE AVENUE","zipcode":"11206","zip_city":"Brooklyn","cb_num":"301","borocode":"3","boroname":"Brooklyn","cncldist":"34","st_assem":"53","st_senate":"18","nta":"BK90","nta_name":"East Williamsburg","boro_ct":"3050500","state":"New York","latitude":"40.70706693","longitude":"-73.94519664","x_sp":"999444.3088","y_sp":"196884.7841","council_district":"34","census_tract":"505","bin":"3071199","bbl":"3030600001"}]
  recorded_at: 2026-01-27 20:20:27
recorded_with: VCR-vcr/2.1.0
