http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/5rw7-99k7.json?%24limit=2&%24order=date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"aW5kaWEuMjg3NzlfMV8xMVlfcWR0eEsyeUM5RlhuVmJfZVdUSEYwMUd5NA---gzilyuXMUIviOXHVBLsVKbCzHrAxCU--gzip--gzip"'
      x-soda2-fields: '["date","program_type","vacancies_per_day","beds_per_day","vacant_per_day"]'
      x-soda2-types: '["floating_timestamp","text","number","number","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Mon, 20 Oct 2025 14:11:46 GMT
      x-soda2-secondary-last-modified: Mon, 20 Oct 2025 14:11:46 GMT
      last-modified: Mon, 20 Oct 2025 14:11:46 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: dfcef0eb0148dac45b2b1ec7feed5138
    body:
      string: |
        [{"date":"2025-06-30T00:00:00.000","program_type":"Crisis Shelters","vacancies_per_day":"40","beds_per_day":"258","vacant_per_day":"0.16"}
        ,{"date":"2025-06-30T00:00:00.000","program_type":"Crisis Shelters (HYA)","vacancies_per_day":"0","beds_per_day":"35","vacant_per_day":"0"}]
  recorded_at: 2026-01-27 20:20:22
recorded_with: VCR-vcr/2.1.0
