http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/jb7j-dtam.json?%24limit=2&%24order=year+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNjMxMl8zXzcxd3FvVVRKb1M4OEJNSXlsQXIyaXQ0bTNXYUpn---gzipF4tiaFSUT8YwyQYcDXOQdFi_-pI--gzip--gzip"'
      x-soda2-fields: '["year","leading_cause","sex","race_ethnicity","deaths","death_rate","age_adjusted_death_rate"]'
      x-soda2-types: '["text","text","text","text","text","text","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 27 Jan 2026 19:52:17 GMT
      x-soda2-secondary-last-modified: Tue, 27 Jan 2026 19:52:17 GMT
      last-modified: Tue, 27 Jan 2026 19:52:17 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 436351a52618ee3bc2cf0edc43defb8b
    body:
      string: |
        [{"year":"2021","leading_cause":"All Other Causes","sex":"Female","race_ethnicity":"Not Stated/Unknown","deaths":"102"}
        ,{"year":"2021","leading_cause":"Alzheimer's Disease (G30)","sex":"Female","race_ethnicity":"Not Stated/Unknown","deaths":"7"}]
  recorded_at: 2026-01-27 20:19:55
recorded_with: VCR-vcr/2.1.0
