http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/vx8i-nprf.json?%24limit=2&%24order=published_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC42MDY0Ml8xMDY4XzE1MTM2Y2QyMmVPbzJNYXFKOWFHMG1vdnI4dVpVQ05V---gzipMx8php5e4B9c2Pqj1n1JBIYRB9Y--gzip--gzip"'
      x-soda2-fields: '["exam_no","list_no","first_name","mi","last_name","adj_fa","list_title_code","list_title_desc","group_no","list_agency_code","list_agency_desc","list_div_code","published_date","established_date","anniversary_date","extension_date","veteran_credit","parent_lgy_credit","sibling_lgy_credit","residency_credit"]'
      x-soda2-types: '["text","number","text","text","text","number","text","text","text","text","text","text","floating_timestamp","floating_timestamp","floating_timestamp","floating_timestamp","text","text","text","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 19 Feb 2026 14:04:27 GMT
      x-soda2-secondary-last-modified: Thu, 19 Feb 2026 14:04:27 GMT
      last-modified: Thu, 19 Feb 2026 14:04:27 GMT
      x-socrata-requestid: 709674d435f111f8c7e6055eeb82bce4
    body:
      string: |
        [{"exam_no":"4615","list_no":"118","first_name":"OTIS","mi":"S","last_name":"SAYLEE","adj_fa":"87","list_title_code":"91203","list_title_desc":"BUS OPERATOR","group_no":"000","list_agency_code":"000","list_agency_desc":"OPEN COMPETITIVE","established_date":"2026-01-14T00:00:00.000","anniversary_date":"2030-01-14T00:00:00.000"}
        ,{"exam_no":"3116","list_no":"2643","first_name":"BRITTNEY","mi":"N","last_name":"RUSSO","adj_fa":"71","list_title_code":"12626","list_title_desc":"STAFF ANALYST","group_no":"000","list_agency_code":"000","list_agency_desc":"OPEN COMPETITIVE","established_date":"2024-12-11T00:00:00.000","anniversary_date":"2028-12-11T00:00:00.000"}]
  recorded_at: 2026-02-19 20:49:50
recorded_with: VCR-vcr/2.1.0
