http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/5awp-wfkt.json?%24limit=2&%24order=month+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"anVsaWV0dC44MDU4XzFfMjVGeXRzcUFyNHpFdllGWFEyMGxGM0pOeDlWcmM---gziqI3LyUVrPaXmUAicP5JQLT3SHycg--gzip--gzip"'
      x-soda2-fields: '["month","borough","community_district","bc_snap_recipients","bc_snap_households","bc_ca_recipients","bc_ca_cases","bc_ma_only_enrollees","bc_total_ma_enrollees"]'
      x-soda2-types: '["floating_timestamp","text","text","number","number","number","number","number","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 15 Jan 2026 15:20:50 GMT
      x-soda2-secondary-last-modified: Thu, 15 Jan 2026 15:20:50 GMT
      last-modified: Thu, 15 Jan 2026 15:20:50 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 3dba7ad6c5c86df939a8998164a01e11
    body:
      string: |
        [{"month":"2025-12-01T00:00:00.000","borough":"Staten_Island","community_district":"S03","bc_snap_recipients":"14183","bc_snap_households":"8839","bc_ca_recipients":"3462","bc_ca_cases":"1993","bc_ma_only_enrollees":"7279","bc_total_ma_enrollees":"13308"}
        ,{"month":"2025-12-01T00:00:00.000","borough":"Staten_Island","community_district":"S02","bc_snap_recipients":"19167","bc_snap_households":"10942","bc_ca_recipients":"4595","bc_ca_cases":"2567","bc_ma_only_enrollees":"9197","bc_total_ma_enrollees":"17692"}]
  recorded_at: 2026-01-27 20:19:54
recorded_with: VCR-vcr/2.1.0
