http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/hrsu-3w2q.json?%24limit=2&%24order=year+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4zODQ2NF8yXzEyOXV3THZrRHFJNEU5RHlzdm5WWHVJVnd2OVY1OA---gziotF6dq7zC4BmnD-OkAbVnTzFuoK--gzip--gzip"'
      x-soda2-fields: '["boro","year","period","district","level","school","grade_code","instruction_days","religious_holydays","classes","register_last_report","admissions","transfers_in","discharges","transfers_out","present_register","aggregate_register","aggregate_attendance","lta","ltb","holyday_counter","register_01","attendance_01","register_02","attendance_02","register_03","attendance_03","register_04","attendance_04","register_05","attendance_05","register_06","attendance_06","register_07","attendance_07","register_08","attendance_08","register_09","attendance_09"]'
      x-soda2-types: '["text","text","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Fri, 18 May 2018 20:32:17 GMT
      x-soda2-secondary-last-modified: Fri, 18 May 2018 20:32:17 GMT
      last-modified: Fri, 18 May 2018 20:32:17 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: eedd415991f96ec7a37aeba56ef6f894
    body:
      string: |
        [{}
        ,{"boro":"Q","year":"2015-2016","period":"3","district":"28","level":"220","school":"217","grade_code":"0","instruction_days":"17","religious_holydays":"2","classes":"680","register_last_report":"1572","admissions":"22","present_register":"1590","aggregate_register":"26870","aggregate_attendance":"25211","holyday_counter":"2","register_01":"1581","attendance_01":"1514","register_02":"1585","attendance_02":"1481","register_03":"0","attendance_03":"0","register_04":"0","attendance_04":"0","register_05":"0","attendance_05":"0","register_06":"0","attendance_06":"0","register_07":"0","attendance_07":"0","register_08":"0","attendance_08":"0","register_09":"0","attendance_09":"0"}]
  recorded_at: 2026-01-27 20:20:13
recorded_with: VCR-vcr/2.1.0
