http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/p48c-iqtu.json?%24limit=2&%24order=verificationstatusyear+DESC+NULL+LAST
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC45NzM0NV8yXzI0V1ZXNVRHXzdpYmFmRHRrVTkxSENhQVpaU2ZR---gzip7gQAqKSY5N1Ya3efSNDA9QjWC44--gzip--gzip"'
      x-soda2-fields: '["classname","objectid","verificationstatus","verificationstatusyear","multipolygon"]'
      x-soda2-types: '["text","number","text","number","multipolygon"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Sat, 06 Dec 2025 14:02:00 GMT
      x-soda2-secondary-last-modified: Sat, 06 Dec 2025 14:02:00 GMT
      last-modified: Sat, 06 Dec 2025 14:02:00 GMT
      x-socrata-requestid: 707828e64b54acf10f42d5515781ca5d
    body:
      string: |
        [{"classname":"Emergent","objectid":"786","verificationstatus":"verified-Rapid field protocol","verificationstatusyear":"2024","multipolygon":{"type":"MultiPolygon","coordinates":[[[[-74.1810423379585,40.60920591148292],[-74.18108851086193,40.609238259388604],[-74.18110978827396,40.60924092743394],[-74.18112754285978,40.60925170573713],[-74.18115945473332,40.60925435791498],[-74.1811913372753,40.60924620204867],[-74.1812373562535,40.60922181446329],[-74.18125857498352,40.60920286911207],[-74.18127629290196,40.609200138699],[-74.18133668305609,40.60924597283275],[-74.1813579751611,40.609254044849756],[-74.1813898797022,40.60925399450455],[-74.1814288236618,40.609235020247[...]
