http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/k46n-sa2m.json?%24limit=2&%24order=date_of_census+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNTY2N184XzMyMTNxVWk1dGVtZVJYYTU3XzhfOVZkSkdQM0FFanc---gzioQQC49MSRqEvf4Asw29i9NJ9m2UA--gzip--gzip"'
      x-soda2-fields: '["date_of_census","total_adults_in_shelter","total_children_in_shelter","total_individuals_in_shelter","single_adult_men_in_shelter","single_adult_women_in_shelter","total_single_adults_in_shelter","families_with_children_in_shelter","adults_in_families_with_children_in_shelter","children_in_families_with_children_in_shelter","total_individuals_in_families_with_children_in_shelter_","adult_families_in_shelter","individuals_in_adult_families_in_shelter"]'
      x-soda2-types: '["floating_timestamp","number","number","number","number","number","number","number","number","number","number","number","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 19 Feb 2026 20:00:30 GMT
      x-soda2-secondary-last-modified: Thu, 19 Feb 2026 20:00:30 GMT
      last-modified: Thu, 19 Feb 2026 20:00:30 GMT
      x-socrata-requestid: d6ef97de4d084c6a75f1a62c15d767dd
    body:
      string: |
        [{"date_of_census":"2026-02-18T00:00:00.000","total_adults_in_shelter":"55989","total_children_in_shelter":"30000","total_individuals_in_shelter":"85989","single_adult_men_in_shelter":"18277","single_adult_women_in_shelter":"7088","total_single_adults_in_shelter":"25365","families_with_children_in_shelter":"17325","adults_in_families_with_children_in_shelter":"25765","children_in_families_with_children_in_shelter":"30000","total_individuals_in_families_with_children_in_shelter_":"55765","adult_families_in_shelter":"2236","individuals_in_adult_families_in_shelter":"4859"}
        ,{"date_of_census":"2026-02-17T00:00:00.000","total_adults_in_shelter":"56044","total_children_in_shelter":"30100","total_individuals_in_shelter":"86144","single_adult_men_in_shelter":"18230","single_adult_women_in_shelter":"7085","total_single_adults_in_shelter":"25315","families_with_children_in_shelter":"17384","adults_in_families_with_children_in_shelter":"25848","children_in_families_with_children_in_shelter":"30100","total_individuals_in_families_with_children_in_shelter_":"55948","adult_families_in_shelter":"2246","individuals_in_adult_families_in_shelter":"4881"}]
  recorded_at: 2026-02-19 20:49:52
recorded_with: VCR-vcr/2.1.0
