http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/dpec-ucu7.json?%24limit=2&%24order=app_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC40OTI4NF8zXzEyNDg0c2RJdTVuSWFlTklNbUJlUzFwQUliQkNHUHdZ---gzipXdQKgk3WLxICPimnoCdQrET0Mw4--gzip--gzip"'
      x-soda2-fields: '["app_no","type","app_date","status","fru_interview_scheduled","drug_test","wav_course","defensive_driving","driver_exam","medical_clearance_form","other_requirements","lastupdate"]'
      x-soda2-types: '["number","text","floating_timestamp","text","text","text","text","text","text","text","text","floating_timestamp"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 19 Feb 2026 17:03:49 GMT
      x-soda2-secondary-last-modified: Thu, 19 Feb 2026 17:03:49 GMT
      last-modified: Thu, 19 Feb 2026 17:03:49 GMT
      x-socrata-requestid: 11595f7bf2523c0d9aa0ca1f0a03c2b6
    body:
      string: |
        [{"app_no":"6133093","type":"HDR","app_date":"2026-02-19T00:00:00.000","status":"Incomplete","fru_interview_scheduled":"Not Applicable","drug_test":"Needed","wav_course":"Needed","defensive_driving":"Needed","driver_exam":"Needed","medical_clearance_form":"Needed","other_requirements":"Fingerprints needed; Copy of DMV license needed","lastupdate":"2026-02-19T11:00:06.000"}
        ,{"app_no":"6133084","type":"HDR","app_date":"2026-02-19T00:00:00.000","status":"Incomplete","fru_interview_scheduled":"Not Applicable","drug_test":"Needed","wav_course":"Needed","defensive_driving":"Needed","driver_exam":"Needed","medical_clearance_form":"Needed","other_requirements":"Fingerprints needed; Copy of DMV license needed","lastupdate":"2026-02-19T11:00:06.000"}]
  recorded_at: 2026-02-19 20:50:06
recorded_with: VCR-vcr/2.1.0
