http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/2hrw-qfsu.json?%24limit=2&%24order=calendar_year+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"aG90ZWwuNDgzMTlfMV8xNFRGbS1BOHREY2Q2WHNTM2loX0xNNlZGcVcyYw---gzius_ENdo3gWS2Wl3s6CxodkJQkYf--gzip--gzip"'
      x-soda2-fields: '["calendar_year","borough","borough_cd","number_admitted"]'
      x-soda2-types: '["text","text","text","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Fri, 14 Feb 2025 16:45:28 GMT
      x-soda2-secondary-last-modified: Fri, 14 Feb 2025 16:45:28 GMT
      last-modified: Fri, 14 Feb 2025 16:45:28 GMT
      x-socrata-requestid: fc95de4361d02881779ba32109d1c24b
    body:
      string: |
        [{"calendar_year":"2024","borough":"BRONX","borough_cd":"BX01 Mott Haven/Melrose","number_admitted":"72"}
        ,{"calendar_year":"2024","borough":"BRONX","borough_cd":"BX02 Hunts Point/Longwood","number_admitted":"30"}]
  recorded_at: 2026-02-19 20:49:52
recorded_with: VCR-vcr/2.1.0
