http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/bmxf-3rd4.json?%24limit=2
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNjQ5NF80XzkxRlJWRy1UZTF6WktXQm85MkxEanZUOUtMdURR---gzipXt8SCPnZESfhzy8xdSeFAtiXNok--gzip--gzip"'
      x-soda2-fields: '["center_name","borough","address","comments","postcode","latitude","longitude","community_board","council_district","census_tract","bin","bbl","nta"]'
      x-soda2-types: '["text","text","text","text","number","number","number","number","number","number","number","number","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 29 Jul 2025 19:45:01 GMT
      x-soda2-secondary-last-modified: Tue, 29 Jul 2025 19:45:01 GMT
      last-modified: Tue, 29 Jul 2025 19:45:01 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 3d4dcfe5c0677b51db52096f4de195f7
    body:
      string: |
        [{"center_name":"Living Room","borough":"Bronx","address":"800 Barretto Street; Bronx, NY 10474","comments":"Open 24 hours","postcode":"10474","latitude":"40.816615","longitude":"-73.889883","community_board":"202","council_district":"17","census_tract":"93","bin":"2006002","bbl":"2027400100","nta":"Hunts Point"}
        ,{"center_name":"Main chance","borough":"Manhattan","address":"120 E. 32nd Street; New York, NY 10016","comments":"Open 24 hours, including holidays","postcode":"1016","latitude":"40.745377","longitude":"-73.981306","community_board":"105","council_district":"2","census_tract":"72","bin":"1018469","bbl":"1008870087","nta":"Murray Hill-Kips Bay"}]
  recorded_at: 2026-01-27 20:20:07
recorded_with: VCR-vcr/2.1.0
