http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/vx8i-nprf.json?%24limit=2&%24order=published_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC42MDY0Ml8xMDY4XzE1MTIxY2QyMmVPbzJNYXFKOWFHMG1vdnI4dVpVQ05V---gzipMx8php5e4B9c2Pqj1n1JBIYRB9Y--gzip--gzip"'
      x-soda2-fields: '["exam_no","list_no","first_name","mi","last_name","adj_fa","list_title_code","list_title_desc","group_no","list_agency_code","list_agency_desc","list_div_code","published_date","established_date","anniversary_date","extension_date","veteran_credit","parent_lgy_credit","sibling_lgy_credit","residency_credit"]'
      x-soda2-types: '["text","number","text","text","text","number","text","text","text","text","text","text","floating_timestamp","floating_timestamp","floating_timestamp","floating_timestamp","text","text","text","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 27 Jan 2026 14:02:41 GMT
      x-soda2-secondary-last-modified: Tue, 27 Jan 2026 14:02:41 GMT
      last-modified: Tue, 27 Jan 2026 14:02:41 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: d042a123a04c3d3d734a28ac16fb5fe9
    body:
      string: |
        [{"exam_no":"5307","list_no":"208","first_name":"CLAUDEMAR","mi":"I","last_name":"SENEUS","adj_fa":"91","list_title_code":"71012","list_title_desc":"POLICE COMMUNICATIONS TECHNICIAN","group_no":"000","list_agency_code":"000","list_agency_desc":"OPEN COMPETITIVE","established_date":"2025-07-30T00:00:00.000","anniversary_date":"2029-07-30T00:00:00.000","veteran_credit":"Veteran's Credit"}
        ,{"exam_no":"8703","list_no":"384","first_name":"FREDERICK","mi":"M","last_name":"LESEROWITZ","adj_fa":"73","list_title_code":"91231","list_title_desc":"TRAIN SERVICE SUPERVISOR","group_no":"001","list_agency_code":"998","list_agency_desc":"N.Y.C. TRANSIT AUTHORITY","established_date":"2020-02-05T00:00:00.000","anniversary_date":"2024-02-05T00:00:00.000","extension_date":"2026-02-05T00:00:00.000"}]
  recorded_at: 2026-01-27 20:19:56
recorded_with: VCR-vcr/2.1.0
