http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/fpci-ws56.json?%24limit=2&%24order=school_year+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"aW5kaWEuMTA2MDY1XzFfNTBaOTdsU1NzeUtRdmRLRnVuTW12aWlOcXJwQXM---gziopVS7p4o4O50vDOmSkzkAwASxecg--gzip--gzip"'
      x-soda2-fields: '["school_year","beds_code","school_name","district_name","school_type","enrollment","homicide_with_weapon_s","homicide_without_weapon_s","forcible_sex_offenses_with","forcible_sex_offenses_without","other_sex_offenses_with_weapon","other_sex_offenses_without","robbery_with_weapon_s","robbery_without_weapon_s","assault_with_serious_physical","assault_with_serious_physical_1","arson_with_weapon_s","kidnapping_with_weapon_s","kidnapping_without_weapon","assault_with_physical_injury","assault_with_physical_injury_1","reckless_endangerment_with","reckless_endangerment_without","minor_altercations_with_weapon","minor_altercations_without","intimidation_harassment","intimidation_harassment_1","burglary_with_weapon_s","burglary_without_weapon_s","criminal_mischief_with_weapon","criminal_mischief_without","larceny_or_other_theft_with","larceny_or_other_theft_without","bomb_threat","false_alarm","riot_with_weapon_s","riot_without_weapon_s","weapon_possessionthrough","weapon_possession_under_other","drug_possession","alcohol_possession","other_disruptive","county","need_resource_category","grade_organization"]'
      x-soda2-types: '["text","number","text","text","text","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","number","text","text","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 10 Jul 2025 19:10:03 GMT
      x-soda2-secondary-last-modified: Thu, 10 Jul 2025 19:10:03 GMT
      last-modified: Thu, 10 Jul 2025 19:10:03 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 4058cae40b06c072f68a2856447e59d9
    body:
      string: |
        [{"school_year":"2014-2015","beds_code":"353100010075","school_name":"Is 75 Frank D Paulo","district_name":"New York City Geographic District #31","school_type":"Public","enrollment":"1357","homicide_with_weapon_s":"0","homicide_without_weapon_s":"0","forcible_sex_offenses_with":"0","forcible_sex_offenses_without":"0","other_sex_offenses_with_weapon":"0","other_sex_offenses_without":"2","robbery_with_weapon_s":"0","robbery_without_weapon_s":"0","assault_with_serious_physical":"0","assault_with_serious_physical_1":"0","arson_with_weapon_s":"0","kidnapping_with_weapon_s":"0","kidnapping_without_weapon":"0","assault_with_physical_injury":"2","assault_with_physical_injury_1":"2","reckless_endangerment_with":"1","reckless_endangerment_without":"3","minor_altercations_with_weapon":"1","minor_altercations_without":"9","intimidation_harassment":"0","intimidation_harassment_1":"3","burglary_with_weapon_s":"0","burglary_without_weapon_s":"0","criminal_mischief_with_weapon":"0","criminal_mischief_without":"0","larceny_or_other_theft_with":"0","larceny_or_other_theft_without":"0","bomb_threat":"0","false_alarm":"1","riot_with_weapon_s":"0","riot_without_weapon_s":"0","weapon_possessionthrough":"0","weapon_possession_under_other":"1","drug_possession":"1","alcohol_possession":"0","other_disruptive":"5","county":"Richmond","need_resource_category":"New York City","grade_organization":"Middle"}
        ,{"school_year":"2014-2015","beds_code":"353100010063","school_name":"Marsh Avenue School For Expeditionary Learning","district_name":"New York City Geographic District #31","school_type":"Public","enrollment":"443","homicide_with_weapon_s":"0","homicide_without_weapon_s":"0","forcible_sex_offenses_with":"0","forcible_sex_offenses_without":"0","other_sex_offenses_with_weapon":"0","other_sex_offenses_without":"1","robbery_with_weapon_s":"0","robbery_without_weapon_s":"0","assault_with_serious_physical":"0","assault_with_serious_physical_1":"0","arson_with_weapon_s":"0","kidnapping_with_weapon_s":"0","kidnapping_without_weapon":"0","assault_with_physical_injury":"1","assault_with_physical_injury_1":"1","reckless_endangerment_with":"1","reckless_endangerment_without":"0","minor_altercations_with_weapon":"0","minor_altercations_without":"3","intimidation_harassment":"0","intimidation_harassment_1":"0","burglary_with_weapon_s":"0","burglary_without_weapon_s":"0","criminal_mischief_with_weapon":"0","criminal_mischief_without":"0","larceny_or_other_theft_with":"0","larceny_or_other_theft_without":"0","bomb_threat":"0","false_alarm":"0","riot_with_weapon_s":"0","riot_without_weapon_s":"0","weapon_possessionthrough":"0","weapon_possession_under_other":"1","drug_possession":"0","alcohol_possession":"0","other_disruptive":"1","county":"Richmond","need_resource_category":"New York City","grade_organization":"Middle"}]
  recorded_at: 2026-01-27 20:20:29
recorded_with: VCR-vcr/2.1.0
