http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/tg4x-b46p.json?%24limit=2&%24order=enteredon+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4zNjgxN18zXzI5NTZXYUZKVmkzVWZjWUQ3M3IxUXhtLVpMQS1rT3c---gziqBzXLumJgnrscnB6seA7B2LLR8TA--gzip--gzip"'
      x-soda2-fields: '["eventid","eventtype","startdatetime","enddatetime","enteredon","eventagency","parkingheld","borough","communityboard_s","policeprecinct_s","category","subcategoryname","country","zipcode_s"]'
      x-soda2-types: '["number","text","floating_timestamp","floating_timestamp","floating_timestamp","text","text","text","text","text","text","text","text","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 19 Feb 2026 20:30:32 GMT
      x-soda2-secondary-last-modified: Thu, 19 Feb 2026 20:30:32 GMT
      last-modified: Thu, 19 Feb 2026 20:30:32 GMT
      x-socrata-requestid: ae13454095642b6ddc2732b508e6c5dd
    body:
      string: |
        [{"eventid":"900641","eventtype":"Theater Load in and Load Outs","startdatetime":"2025-11-20T05:15:00.000","enddatetime":"2025-11-21T05:00:00.000","eventagency":"Mayor's Office of Media & Entertainment","parkingheld":"AMSTERDAM AVENUE between WEST   73 STREET and WEST   75 STREET,  WEST   74 STREET between AMSTERDAM AVENUE and BROADWAY,  WEST   75 STREET between AMSTERDAM AVENUE and BROADWAY,  BROADWAY between WEST   74 STREET and WEST   75 STREET","borough":"Manhattan","communityboard_s":"7,","policeprecinct_s":"20,","category":"Theater","subcategoryname":"Theater","country":"United States of America","zipcode_s":"10023,"}
        ,{"eventid":"900600","eventtype":"Shooting Permit","startdatetime":"2025-11-20T07:00:00.000","enddatetime":"2025-11-20T22:00:00.000","eventagency":"Mayor's Office of Media & Entertainment","parkingheld":"15 AVENUE between 138 STREET and 143 STREET","borough":"Queens","communityboard_s":"7,","policeprecinct_s":"109,","category":"Television","subcategoryname":"Episodic series","country":"United States of America","zipcode_s":"11357,"}]
  recorded_at: 2026-02-19 20:49:55
recorded_with: VCR-vcr/2.1.0
