http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/erm2-nwe9.json?%24limit=2&%24order=created_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNTY1NV8xODNfMTkwNDMxN3c2RWlucUctVW1zd2NwTUdpQWJkUV9qa01B---gzipmYa-MBhLqecD9gdL2GVEirBnWME--gzip--gzip"'
      x-soda2-fields: '["unique_key","created_date","closed_date","agency","agency_name","complaint_type","descriptor","descriptor_2","location_type","incident_zip","incident_address","street_name","cross_street_1","cross_street_2","intersection_street_1","intersection_street_2","address_type","city","landmark","facility_type","status","due_date","resolution_description","resolution_action_updated_date","community_board","council_district","police_precinct","bbl","borough","x_coordinate_state_plane","y_coordinate_state_plane","open_data_channel_type","park_facility_name","park_borough","vehicle_type","taxi_company_borough","taxi_pick_up_location","bridge_highway_name","bridge_highway_direction","road_ramp","bridge_highway_segment","latitude","longitude","location"]'
      x-soda2-types: '["text","floating_timestamp","floating_timestamp","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","floating_timestamp","text","floating_timestamp","text","text","text","text","text","number","number","text","text","text","text","text","text","text","text","text","text","number","number","point"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 19 Feb 2026 02:39:36 GMT
      x-soda2-secondary-last-modified: Thu, 19 Feb 2026 02:39:36 GMT
      last-modified: Thu, 19 Feb 2026 02:39:36 GMT
      x-socrata-requestid: 3ec5d22630cc262c3029578d8d1f24c4
    body:
      string: |
        [{"unique_key":"68021786","created_date":"2026-02-18T02:25:16.000","closed_date":"2026-02-18T02:25:16.000","agency":"DOT","agency_name":"Department of Transportation","complaint_type":"Street Condition","descriptor":"Pothole","incident_zip":"11415","intersection_street_1":"83 AVENUE","intersection_street_2":"QUEENS BOULEVARD","address_type":"INTERSECTION","city":"QUEENS","facility_type":"N/A","status":"Closed","resolution_description":"The Department of Transportation determined that this complaint is a duplicate of a previously filed complaint. The original complaint is being addressed.","resolution_action_updated_date":"2026-02-18T02:25:16.000","community_board":"09 QUEENS","council_district":"29","police_precinct":"Precinct 102","borough":"QUEENS","x_coordinate_state_plane":"1032639","y_coordinate_state_plane":"198726","open_data_channel_type":"UNKNOWN","park_facility_name":"Unspecified","park_borough":"QUEENS","latitude":"40.71200138828801","longitude":"-73.82545585702933","location":{"type":"Point","coordinates":[-73.825455857029,40.712001388288]}}
        ,{"unique_key":"68022342","created_date":"2026-02-18T02:24:06.000","agency":"DOT","agency_name":"Department of Transportation","complaint_type":"Street Condition","descriptor":"Pothole","incident_zip":"11415","intersection_street_1":"85 AVENUE","intersection_street_2":"LEFFERTS BOULEVARD","address_type":"INTERSECTION","city":"QUEENS","facility_type":"N/A","status":"Open","resolution_description":"The Department of Transportation referred this complaint to the appropriate Maintenance Unit for repair.","resolution_action_updated_date":"2026-02-18T02:24:06.000","community_board":"09 QUEENS","council_district":"29","police_precinct":"Precinct 102","borough":"QUEENS","x_coordinate_state_plane":"1030795","y_coordinate_state_plane":"195368","open_data_channel_type":"UNKNOWN","park_facility_name":"Unspecified","park_borough":"QUEENS","latitude":"40.70279438166465","longitude":"-73.83213055212143","location":{"type":"Point","coordinates":[-73.832130552121,40.702794381665]}}]
  recorded_at: 2026-02-19 20:49:48
recorded_with: VCR-vcr/2.1.0
