http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/fn6f-htvy.json?%24limit=2
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC40MjE5OV8xXzExNWdhNEhSaEd4b1k1eTJUSHBzdWh0R1NwYzhr---gziph91Sux4neBmfsdlE5jCG-7n2xRU--gzip--gzip"'
      x-soda2-fields: '["the_geom","name","tel","url","adress1","address2","city","zip"]'
      x-soda2-types: '["point","text","text","text","text","text","text","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 22 Dec 2015 02:59:31 GMT
      x-soda2-secondary-last-modified: Tue, 22 Dec 2015 02:59:31 GMT
      last-modified: Tue, 22 Dec 2015 02:59:31 GMT
      x-socrata-requestid: 6c03a5aa624e12441bacc44adb4d1d7b
    body:
      string: |
        [{"the_geom":{"type":"Point","coordinates":[-74.01375579519738,40.703816216918035]},"name":"Alexander Hamilton U.S. Custom House","tel":"(212) 514-3700","url":"http://www.oldnycustomhouse.gov/","adress1":"1 Bowling Grn","address2":"","city":"New York","zip":"10004.0"}
        ,{"the_geom":{"type":"Point","coordinates":[-74.06303178855111,40.615120837755356]},"name":"Alice Austen House Museum","tel":"(718) 816-4506","url":"http://www.aliceausten.org/","adress1":"2 Hylan Blvd","address2":"","city":"Staten Island","zip":"10305.0"}]
  recorded_at: 2026-02-19 20:50:00
recorded_with: VCR-vcr/2.1.0
