http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/im9z-53hg.json?%24limit=2&%24order=insp_dt+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"aW5kaWEuMTA3ODQ5XzRfMjI5SFgtTVQtVUtDTGl1ekRrQlJYRE5PYkpTME9F---gzip1DNmsW37CKYRKXXj3D8Qi7AeSgA--gzip--gzip"'
      x-soda2-fields: '["viol_seq_no","bldg_id","boro","boro_nm","phn","low_hus_no","high_hus_no","str_nm","zip","development_name","tds_no","stairhall_no","sctn_boro","sctn_boro_nm","sctn_hus_no","sctn_str_nm","sctn_zip","actl_unit_insp","actl_stry","blk","lot","viol_desc","hzrd_clas","insp_dt","viol_appr_dt","viol_typ_ordr_no","issued_in_err","latitude","longitude","community_board","council_district","bin","bbl","census_tract","nta"]'
      x-soda2-types: '["number","number","number","text","text","text","text","text","text","text","number","text","number","text","text","text","text","text","text","text","text","text","text","floating_timestamp","floating_timestamp","text","text","number","number","number","number","number","number","number","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 19 Feb 2026 14:00:42 GMT
      x-soda2-secondary-last-modified: Thu, 19 Feb 2026 14:00:42 GMT
      last-modified: Thu, 19 Feb 2026 14:00:42 GMT
      x-socrata-requestid: 104ccad878fcbec0a1ed71c4cb62ef54
    body:
      string: |
        [{"viol_seq_no":"18649779","bldg_id":"807044","boro":"2","boro_nm":"BRONX","phn":"1350","low_hus_no":"1350","high_hus_no":"1350","str_nm":"WASHINGTON AVENUE","zip":"10456","development_name":"MORRIS I","tds_no":"102","stairhall_no":"7","sctn_boro":"2","sctn_boro_nm":"BRONX","sctn_hus_no":"1350","sctn_str_nm":"WASHINGTON AVENUE","sctn_zip":"10456","actl_unit_insp":"11E","actl_stry":"11","blk":"02910","lot":"0001","viol_desc":"§ 27-2043.1 HMC INSTALL THE MISSING OR REPAIR/REPLACE THE DEFECTIVE WINDOW GUARD(S) IN ACCORDANCE WITH THE SPECIFICATIONS OF THE NEW YORK CITY HEALTH CODE SECTION 24 RCNY CHAPTER 12. WG TO INSTALL = 3, WG TO REPLACE = 0, WG TO REPAIR = 0  IN THE  ENTIRE APARTMENT  LOCATED AT APT 11E, 11th STORY, 1st APARTMENT FROM NORTH AT EAST","hzrd_clas":"C","insp_dt":"2026-02-17T00:00:00.000","viol_appr_dt":"2026-02-17T00:00:00.000","viol_typ_ordr_no":"790","issued_in_err":"N","latitude":"40.834096","longitude":"-73.90532","community_board":"203","council_district":"16","bin":"2092083","bbl":"2029100001","census_tract":"14701","nta":"BX0302"}
        ,{"viol_seq_no":"18641288","bldg_id":"807996","boro":"3","boro_nm":"BROOKLYN","phn":"35","low_hus_no":"35","high_hus_no":"53","str_nm":"DWIGHT STREET","zip":"11231","development_name":"RED HOOK WEST","tds_no":"79","stairhall_no":"64","sctn_boro":"3","sctn_boro_nm":"BROOKLYN","sctn_hus_no":"420","sctn_str_nm":"COLUMBIA STREET","sctn_zip":"11231","actl_unit_insp":"3C","actl_stry":"3","blk":"00533","lot":"0001","viol_desc":"§ 27-2017.3 HMC: TRACE AND REPAIR THE SOURCE AND ABATE THE VISIBLE MOLD CONDITION... GREATER THAN 10 SQ FT AT CEILING   IN THE  KITCHEN  LOCATED AT APT 3C, 3rd STORY, 1st APARTMENT FROM NORTH AT EAST","hzrd_clas":"B","insp_dt":"2026-02-13T00:00:00.000","viol_appr_dt":"2026-02-13T00:00:00.000","viol_typ_ordr_no":"550","issued_in_err":"N","latitude":"40.677638","longitude":"-74.007138","community_board":"306","council_district":"38","bin":"3326974","bbl":"3005330001","census_tract":"85","nta":"BK0601"}]
  recorded_at: 2026-02-19 20:49:56
recorded_with: VCR-vcr/2.1.0
