http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/abh8-frsx.json?%24limit=2&%24order=school_year+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"anVsaWV0dC4xMDI4NTBfMV8xNmVrdTlubjNuajk0eU9YN2tVejBnVzZmZ0dVdw---gzin3n6Fo8zD_YEpdNlFdrvKP1-Phz--gzip--gzip"'
      x-soda2-fields: '["school_year","geography","report_category","report_subcategory","borough","district","dbn","category_group","category_subgroup","value","value_percentage"]'
      x-soda2-types: '["text","text","text","text","text","text","text","text","text","text","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Wed, 13 Aug 2025 19:12:17 GMT
      x-soda2-secondary-last-modified: Wed, 13 Aug 2025 19:12:17 GMT
      last-modified: Wed, 13 Aug 2025 19:12:17 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 81e4bcf9fb49f2251f839af415053bbb
    body:
      string: |
        [{"school_year":"2017-2018","geography":"School","report_category":"SWD","report_subcategory":"Not SWD","dbn":"08X519","category_group":"Credit Recovery","category_subgroup":"No Credit Recovery","value":"s","value_percentage":"s"}
        ,{"school_year":"2017-2018","geography":"School","report_category":"SWD","report_subcategory":"Not SWD","dbn":"09X325","category_group":"Credit Recovery","category_subgroup":"No Credit Recovery","value":"s","value_percentage":"s"}]
  recorded_at: 2026-01-27 20:20:24
recorded_with: VCR-vcr/2.1.0
