http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/c49b-3kmd.json?%24limit=2&%24order=year+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC41NjQwOV8xXzEyM0dRZG1XQjBSaFBzeHZnTFFTalVkRkp4NWc5QQ---gzimUCfZ8WJHs1KIgbhWeQT58PtdHS--gzip--gzip"'
      x-soda2-fields: '["borough","supervision_caseload_type","month","year","supervision_caseload_count"]'
      x-soda2-types: '["text","text","text","number","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Fri, 30 Jan 2026 20:37:12 GMT
      x-soda2-secondary-last-modified: Fri, 30 Jan 2026 20:37:12 GMT
      last-modified: Fri, 30 Jan 2026 20:37:12 GMT
      x-socrata-requestid: cf2026b53655da14c1b41089759a0fe4
    body:
      string: |
        [{"borough":"Citywide","supervision_caseload_type":"Juvenile Justice Initiative","month":"December","year":"2025","supervision_caseload_count":"126"}
        ,{"borough":"Citywide","supervision_caseload_type":"Advocate Intervene Mentor","month":"December","year":"2025","supervision_caseload_count":"37"}]
  recorded_at: 2026-02-19 20:49:53
recorded_with: VCR-vcr/2.1.0
