http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/nc67-uf89.json?%24limit=2&%24order=issue_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC40MjcwN18xMl8zODEyZkxRR1FRUmxrUFQxdHhCXzd2N2g5dWwxY2Jr---gzipOGfc2TiuQ5RjPEC7I__KO77VpAk--gzip--gzip"'
      x-soda2-fields: '["plate","state","license_type","summons_number","issue_date","violation_time","violation","judgment_entry_date","fine_amount","penalty_amount","interest_amount","reduction_amount","payment_amount","amount_due","precinct","county","issuing_agency","violation_status","summons_image"]'
      x-soda2-types: '["text","text","text","number","text","text","text","text","number","number","number","number","number","number","text","text","text","text","url"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 27 Jan 2026 10:19:46 GMT
      x-soda2-secondary-last-modified: Tue, 27 Jan 2026 10:19:46 GMT
      last-modified: Tue, 27 Jan 2026 10:19:46 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: a863eaba62ffe5d5e6104bc8f36a6e57
    body:
      string: |
        [{"plate":"HPK2083","state":"NY","license_type":"PAS","summons_number":"1420103131","violation_time":"00:00A","violation":"INSP. STICKER-EXPIRED/MISSING","fine_amount":"65","penalty_amount":"0","interest_amount":"0","reduction_amount":"65","payment_amount":"0","amount_due":"0","precinct":"025","issuing_agency":"POLICE DEPARTMENT","summons_image":{"url":"http://nycserv.nyc.gov/NYCServWeb/ShowImage?searchID=VFZSUmVVMUVSWGROZWtWNlRWRTlQUT09&locationName=_____________________","description":"View Summons"}}
        ,{"plate":"FFZ7198","state":"NY","license_type":"PAS","summons_number":"1405797526","violation_time":"06:49A","violation":"OBSTRUCTING DRIVEWAY","fine_amount":"95","penalty_amount":"0","interest_amount":"0","reduction_amount":"95","payment_amount":"0","amount_due":"0","precinct":"000","county":"Q","issuing_agency":"POLICE DEPARTMENT","violation_status":"HEARING HELD-NOT GUILTY","summons_image":{"url":"http://nycserv.nyc.gov/NYCServWeb/ShowImage?searchID=VFZSUmQwNVVZelZPZWxWNVRtYzlQUT09&locationName=_____________________","description":"View Summons"}}]
  recorded_at: 2026-01-27 20:21:16
recorded_with: VCR-vcr/2.1.0
