http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/5tub-eh45.json?%24limit=2&%24order=last_update_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNTY2NF8xODAzXzEyODg2OWVEcHBiYTRTNUlRTE5GVDBUVFlHVEdqUUVR---gzipjQN8pWmx_4csZ0o3jvkCW8DVaLA--gzip--gzip"'
      x-soda2-fields: '["license_number","name","status_code","status_description","expiration_date","last_update_date","last_update_time"]'
      x-soda2-types: '["text","text","number","text","floating_timestamp","floating_timestamp","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 19 Feb 2026 20:16:27 GMT
      x-soda2-secondary-last-modified: Thu, 19 Feb 2026 20:16:27 GMT
      last-modified: Thu, 19 Feb 2026 20:16:27 GMT
      x-socrata-requestid: 2b78b8864fea87011b8e251be9176fcf
    body:
      string: |
        [{"license_number":"5535836","name":"WANGYAL,TUMDIN","status_code":"1","status_description":"SHL UNRESTRICTED","expiration_date":"2026-06-19T00:00:00.000","last_update_date":"2026-02-19T00:00:00.000","last_update_time":"14:01"}
        ,{"license_number":"5800295","name":"SATTOROV,SHUKHRATJON","status_code":"1","status_description":"SHL UNRESTRICTED","expiration_date":"2026-07-17T00:00:00.000","last_update_date":"2026-02-19T00:00:00.000","last_update_time":"14:01"}]
  recorded_at: 2026-02-19 20:50:06
recorded_with: VCR-vcr/2.1.0
