http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/p48c-iqtu.json?%24limit=2&%24order=verificationstatusyear+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC45NzM0NV8yXzI0NHRJcHJyd3F5V3hsRFhKWjdNc3NTSjVhbC1V---gzipDZM2si6GmDbuB6R80VsA0XAJdog--gzip--gzip"'
      x-soda2-fields: '["classname","objectid","verificationstatus","verificationstatusyear","multipolygon"]'
      x-soda2-types: '["text","number","text","number","multipolygon"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Sat, 06 Dec 2025 14:02:00 GMT
      x-soda2-secondary-last-modified: Sat, 06 Dec 2025 14:02:00 GMT
      last-modified: Sat, 06 Dec 2025 14:02:00 GMT
      x-socrata-requestid: fd4210608598fa34674e0060ac4e57ba
    body:
      string: |
        [{"classname":"Water","objectid":"5324","verificationstatus":"Unverified","multipolygon":{"type":"MultiPolygon","coordinates":[[[[-73.82384641705417,40.659365162656144],[-73.82386052851004,40.659394902272616],[-73.82386052137441,40.65939760471735],[-73.82387471248778,40.659397626447245],[-73.8238747267555,40.659392222458344],[-73.82388892499982,40.659389542642295],[-73.82389959597333,40.659378752759096],[-73.8239208891793,40.65937608290042],[-73.82393156014548,40.659365293014275],[-73.8239919492819,40.65933566652733],[-73.82401676856665,40.65934110761223],[-73.82403816864894,40.659297913667935],[-73.8240737016049,40.65[...]
