http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/erm2-nwe9.json?%24limit=2&%24order=created_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNTY1NV8xODNfMTkwMDUyN3c2RWlucUctVW1zd2NwTUdpQWJkUV9qa01B---gzipmYa-MBhLqecD9gdL2GVEirBnWME--gzip--gzip"'
      x-soda2-fields: '["unique_key","created_date","closed_date","agency","agency_name","complaint_type","descriptor","descriptor_2","location_type","incident_zip","incident_address","street_name","cross_street_1","cross_street_2","intersection_street_1","intersection_street_2","address_type","city","landmark","facility_type","status","due_date","resolution_description","resolution_action_updated_date","community_board","council_district","police_precinct","bbl","borough","x_coordinate_state_plane","y_coordinate_state_plane","open_data_channel_type","park_facility_name","park_borough","vehicle_type","taxi_company_borough","taxi_pick_up_location","bridge_highway_name","bridge_highway_direction","road_ramp","bridge_highway_segment","latitude","longitude","location"]'
      x-soda2-types: '["text","floating_timestamp","floating_timestamp","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","floating_timestamp","text","floating_timestamp","text","text","text","text","text","number","number","text","text","text","text","text","text","text","text","text","text","number","number","point"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 27 Jan 2026 02:53:46 GMT
      x-soda2-secondary-last-modified: Tue, 27 Jan 2026 02:53:46 GMT
      last-modified: Tue, 27 Jan 2026 02:53:46 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 19d91dd4079fed6c503862064c0ab198
    body:
      string: |
        [{"unique_key":"67613985","created_date":"2026-01-26T02:06:05.000","agency":"NYPD","agency_name":"New York City Police Department","complaint_type":"Noise - Residential","descriptor":"Banging/Pounding","location_type":"Residential Building/House","incident_zip":"11237","incident_address":"349 LINDEN STREET","street_name":"LINDEN STREET","cross_street_1":"MYRTLE AVENUE","cross_street_2":"WYCKOFF AVENUE","intersection_street_1":"MYRTLE AVENUE","intersection_street_2":"WYCKOFF AVENUE","address_type":"ADDRESS","city":"BROOKLYN","landmark":"LINDEN STREET","status":"In Progress","community_board":"04 BROOKLYN","council_district":"37","police_precinct":"Precinct 83","bbl":"3033280046","borough":"BROOKLYN","x_coordinate_state_plane":"1008292","y_coordinate_state_plane":"194183","open_data_channel_type":"PHONE","park_facility_name":"Unspecified","park_borough":"BROOKLYN","latitude":"40.69963158861745","longitude":"-73.91329414572614","location":{"type":"Point","coordinates":[-73.913294145726,40.699631588617]}}
        ,{"unique_key":"67606573","created_date":"2026-01-26T02:05:43.000","agency":"NYPD","agency_name":"New York City Police Department","complaint_type":"Noise - Residential","descriptor":"Banging/Pounding","location_type":"Residential Building/House","incident_zip":"10467","incident_address":"3524 HULL AVENUE","street_name":"HULL AVENUE","cross_street_1":"EAST GUN HILL ROAD","cross_street_2":"EAST 211 STREET","intersection_street_1":"EAST GUN HILL ROAD","intersection_street_2":"EAST 211 STREET","address_type":"ADDRESS","city":"BRONX","landmark":"HULL AVENUE","status":"In Progress","community_board":"07 BRONX","council_district":"11","police_precinct":"Precinct 52","bbl":"2033560122","borough":"BRONX","x_coordinate_state_plane":"1019276","y_coordinate_state_plane":"259643","open_data_channel_type":"PHONE","park_facility_name":"Unspecified","park_borough":"BRONX","latitude":"40.87926479342878","longitude":"-73.87333978296894","location":{"type":"Point","coordinates":[-73.873339782969,40.879264793429]}}]
  recorded_at: 2026-01-27 20:19:39
recorded_with: VCR-vcr/2.1.0
