http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/x3bb-kg5j.json?%24limit=2&%24order=date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Z29sZi4yNjM3N18yXzMzZ3p4X1dqbTNnVFctcVduelVrSWk2dDdaVGI4---gzipQNQzuLiZHmA8KR1eobmBNYJkdhI--gzip--gzip"'
      x-soda2-fields: '["school_dbn","date","enrolled","absent","present","released"]'
      x-soda2-types: '["text","text","number","number","number","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Wed, 11 Sep 2019 13:54:05 GMT
      x-soda2-secondary-last-modified: Wed, 11 Sep 2019 13:54:05 GMT
      last-modified: Wed, 11 Sep 2019 13:54:05 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 81903db8c1b4442e5356c9c3e53eb6af
    body:
      string: |
        [{"school_dbn":"79X695","date":"20190626","enrolled":"216","absent":"27","present":"68","released":"121"}
        ,{"school_dbn":"31R030","date":"20190626","enrolled":"838","absent":"53","present":"785","released":"0"}]
  recorded_at: 2026-01-27 20:19:57
recorded_with: VCR-vcr/2.1.0
