http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/5tub-eh45.json?%24limit=2&%24order=last_update_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNTY2NF8xODAzXzEyODYyOWVEcHBiYTRTNUlRTE5GVDBUVFlHVEdqUUVR---gzipjQN8pWmx_4csZ0o3jvkCW8DVaLA--gzip--gzip"'
      x-soda2-fields: '["license_number","name","status_code","status_description","expiration_date","last_update_date","last_update_time"]'
      x-soda2-types: '["text","text","number","text","floating_timestamp","floating_timestamp","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 27 Jan 2026 20:02:29 GMT
      x-soda2-secondary-last-modified: Tue, 27 Jan 2026 20:02:29 GMT
      last-modified: Tue, 27 Jan 2026 20:02:29 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 6fcd4510d9842700d4d879e83446d004
    body:
      string: |
        [{"license_number":"5947911","name":"MEJIA,ISAAC,G","status_code":"1","status_description":"SHL UNRESTRICTED","expiration_date":"2028-09-26T00:00:00.000","last_update_date":"2026-01-27T00:00:00.000","last_update_time":"13:20"}
        ,{"license_number":"5964957","name":"TAVERAS,SANCHEZ,HICLLIFF","status_code":"1","status_description":"SHL UNRESTRICTED","expiration_date":"2026-12-02T00:00:00.000","last_update_date":"2026-01-27T00:00:00.000","last_update_time":"13:20"}]
  recorded_at: 2026-01-27 20:20:25
recorded_with: VCR-vcr/2.1.0
