http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/8wbx-tsch.json?%24limit=2&%24order=last_date_updated+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4zNjUwNV82NjlfNjUxM182VVZjT3p4SmFlcmZsc01XZS0zWlhXU3JhSQ---gziunGxAhRpUq1E5daN6F1jfaw1q7N--gzip--gzip"'
      x-soda2-fields: '["active","vehicle_license_number","name","license_type","expiration_date","permit_license_number","dmv_license_plate_number","vehicle_vin_number","wheelchair_accessible","certification_date","hack_up_date","vehicle_year","base_number","base_name","base_type","veh","base_telephone_number","website","base_address","reason","order_date","last_date_updated","last_time_updated"]'
      x-soda2-types: '["text","text","text","text","floating_timestamp","text","text","text","text","floating_timestamp","floating_timestamp","number","text","text","text","text","text","text","text","text","floating_timestamp","floating_timestamp","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Tue, 27 Jan 2026 19:51:10 GMT
      x-soda2-secondary-last-modified: Tue, 27 Jan 2026 19:51:10 GMT
      last-modified: Tue, 27 Jan 2026 19:51:10 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: f3574b1d885a5a2e67b9444fa83aa83e
    body:
      string: |
        [{"active":"YES","vehicle_license_number":"6032728","name":"UPPAL, ARSHDEEP","license_type":"FOR HIRE VEHICLE","expiration_date":"2026-06-30T00:00:00.000","permit_license_number":"AA005","dmv_license_plate_number":"T117661C","vehicle_vin_number":"KMHLM4AJ2NU023825","wheelchair_accessible":"PILOT","vehicle_year":"2022","base_number":"B03152","base_name":"EXIT LUXURY INC.","base_type":"BLACK-CAR","veh":"HYB","base_telephone_number":"(718)472-9800","base_address":"29 - 10   36 AVENUE LONGISLAND CITY NY 11106","reason":"G","last_date_updated":"2026-01-27T00:00:00.000","last_time_updated":"13:25"}
        ,{"active":"YES","vehicle_license_number":"5953896","name":"ELIHORI,ASIM,SALIH","license_type":"FOR HIRE VEHICLE","expiration_date":"2027-11-07T00:00:00.000","permit_license_number":"AA006","dmv_license_plate_number":"T790912C","vehicle_vin_number":"4T4BF1FK4FR457564","certification_date":"2019-11-07T00:00:00.000","hack_up_date":"2019-11-07T00:00:00.000","vehicle_year":"2015","base_number":"B03036","base_name":"ZYNC INC","base_type":"BLACK-CAR","base_telephone_number":"(718)482-1818","base_address":"12-04   44 AVENUE LIC NY 11101","reason":"G","last_date_updated":"2026-01-27T00:00:00.000","last_time_updated":"13:25"}]
  recorded_at: 2026-01-27 20:20:06
recorded_with: VCR-vcr/2.1.0
