http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/c87b-2j3i.json?%24limit=2&%24order=year+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC41MjYyMV8xXzEyM1k0VlhST2NFWGFYMXNMaXlWZWI3LU5CaHpfYw---gzipanW_OafJmkfs67We5uo7zZBoR7--gzip--gzip"'
      x-soda2-fields: '["borough","month","year","rate"]'
      x-soda2-types: '["text","text","number","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Fri, 30 Jan 2026 20:37:50 GMT
      x-soda2-secondary-last-modified: Fri, 30 Jan 2026 20:37:50 GMT
      last-modified: Fri, 30 Jan 2026 20:37:50 GMT
      x-socrata-requestid: 0dd7cbb406359faccd43ce65530fa01b
    body:
      string: |
        [{"borough":"Citywide","month":"September","year":"2025","rate":"4.5"}
        ,{"borough":"Citywide","month":"December","year":"2025","rate":"4.4"}]
  recorded_at: 2026-02-19 20:49:54
recorded_with: VCR-vcr/2.1.0
