http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/c87b-2j3i.json?%24limit=2&%24order=year+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC41MjYyMV8xXzEyMlk0VlhST2NFWGFYMXNMaXlWZWI3LU5CaHpfYw---gzipanW_OafJmkfs67We5uo7zZBoR7--gzip--gzip"'
      x-soda2-fields: '["borough","month","year","rate"]'
      x-soda2-types: '["text","text","number","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Wed, 07 Jan 2026 20:22:42 GMT
      x-soda2-secondary-last-modified: Wed, 07 Jan 2026 20:22:42 GMT
      last-modified: Wed, 07 Jan 2026 20:22:42 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 20008b1e5e5f2f93eecc023acb355915
    body:
      string: |
        [{"borough":"Citywide","month":"November","year":"2025","rate":"4.5"}
        ,{"borough":"Citywide","month":"October","year":"2025","rate":"4.7"}]
  recorded_at: 2026-01-27 20:20:04
recorded_with: VCR-vcr/2.1.0
