http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/dg92-zbpx.json?%24limit=2&%24order=start_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4zMzgxNV8xNV80Nzg0Sk9rVDFhR29mM2VHdENGZ081dXFpRzZGVEJF---gzipRXg31_oTAtnbSBKM5t6itIPpZ4o--gzip--gzip"'
      x-soda2-fields: '["request_id","start_date","end_date","agency_name","type_of_notice_description","category_description","short_title","selection_method_description","section_name","special_case_reason_description","pin","due_date","address_to_request","contact_name","contact_phone","email","contract_amount","contact_fax","additional_description_1","additional_description_2","additional_description_3","other_info_1","other_info_2","other_info_3","vendor_name","vendor_address","printout_1","printout_2","printout_3","document_links","event_date","building_name","street_address_1","street_address_2","city","state","zip_code"]'
      x-soda2-types: '["number","floating_timestamp","floating_timestamp","text","text","text","text","text","text","text","text","floating_timestamp","text","text","text","text","number","text","text","text","text","text","text","text","text","text","text","text","text","url","floating_timestamp","text","text","text","text","text","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Thu, 19 Feb 2026 13:21:09 GMT
      x-soda2-secondary-last-modified: Thu, 19 Feb 2026 13:21:09 GMT
      last-modified: Thu, 19 Feb 2026 13:21:09 GMT
      x-socrata-requestid: 4dc0abe3616aa7c6e25f67167c9e1643
    body:
      string: |
        [{"request_id":"20260212002","start_date":"2026-02-19T00:00:00.000","end_date":"2026-02-19T00:00:00.000","agency_name":"Economic Development Corporation","type_of_notice_description":"Solicitation","category_description":"Goods and Services","short_title":"Consultant Services, St. George Housing Plan, Land Use & Zoning Counsel","selection_method_description":"Request for Proposals","section_name":"Procurement","pin":"11041","due_date":"2026-03-05T16:00:00.000","address_to_request":"1 Liberty Plaza, 12th Floor, New York, NY 10006","contact_name":"Hugo Job","contact_phone":"(212) 618-5462","email":"rfprequest@edc.nyc","additional_description_1":"<p>New York City Economic Development Corporation (NYCEDC) invites law firms and lawyers to submit proposals for the provision of outside legal counsel services in connection with NYCEDC\u001as preparation of a land use application which shall include a number of discretionary actions subject to the City\u001as Uniform Land Use Review Procedure (ULURP) for rezoning of the Project Area and other matters as more particularly described in the Request for Proposals (\u001aRFP\u001a). NYCEDC anticip[...]
