name: pkgdown

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  pkgdown:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: pkgdown
      - name: Build site
        run: R -e 'pkgdown::build_site(override = list(destination = "docs"))'
      - name: Deploy site to gh-pages
        uses: peaceiris/actions-gh-pages@v3